[submodule "dkhtodo-backend"]
	path = dkhtodo-backend
	url = https://github.com/voodoologic/todo-backend.git
[submodule "dkhtodo-frontend"]
	path = dkhtodo-frontend
	url = https://github.com/voodoologic/todo-frontend.git
